@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.header{
    width: 100%;
    height: 60px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* for the logo design */

.logo{
    font-size: 1.8rem;
    font-weight: 700;

}



/* display the four link in a one row with proper width */
.list{
    font-size: 1.2rem;
    list-style-type: none;
    width: 100%;
    margin: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list-item a{
    text-decoration:none ;
}
.list-item a:hover{
    font-weight: 600;
    color: red;
    transition: 0.3s ease-out;
}


/* Home page backgound styling */

.home-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(/images/home-background.jpg) fixed;
    background-size: cover;
    
  
}
.text{
    position: absolute;
    /* margin: auto; */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: 800;
    color: white;
   
    }

    /* About me segment style */
    .about-container{
        text-align: center;
        
    }

    .about-container h1{
        margin-top: 50px;
    }

    .line{
        border: 1px solid black;
        margin: auto;
        width: 150px; 
        text-align: center;       
    }
    .per-image img{
        margin-top: 30px;
        height: 260px;
        width: 250px;
        border-radius: 50%;
        border: 5px solid red;
        cursor: pointer;
        filter: grayscale(100%);
    }
    .per-image img:hover{
        filter: grayscale(0%);
        transition: 0.2s all ease-out;
    }
    .social-media{
        margin-top: 30px;
        color: black;
        cursor: pointer;
        
        
    }
    .social-media a{
        text-decoration: none;
        color: inherit;
        padding-right: 40px;
    }
    .fa-facebook:hover{
        color: blue;
    }
    .fa-stack-overflow:hover{
        color: orange;
    }

    .fa-linkedin:hover{
        color: navy;
    }
    .fa-instagram:hover{
        color: orangered;
    }
    .fa-github:hover{
        color: darkgray;
    }

    .details{
        width: 800px;
        font-size: 1.5rem;
        margin: 30px auto;
    }
    #about-btn{
        padding: 10px 20px;
        background-color: rgba(255, 0, 0, 0.418);
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
    }
    .fa-angle-double-right{
        opacity: 0;
        visibility: hidden;
    }
    #about-btn:hover{
        background-color: red;
        transition: 0.5s all ease-out;
        

    }
    #about-btn:hover .fa-angle-double-right{
        opacity: 1;
        visibility: visible;
        transition: 0.5s all ease-out;
        padding-left: 5px;

    }


    /* Expertise segment design */

    .expertise-container{
        text-align: center;
        margin-top: 80px;
    }

    .expertise-container h1{
        font-size: 2.5rem;
    }

    .exp-title{
        font-size: 1.5;
    }
    .exp-items{
        width: 90%;
        height: 300px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    }
    .exp-items i{
        font-size: 4.5rem;
        cursor: pointer;
    
    }
    .exp-items p{
        font-size: 1.5rem;
        font-weight: bold;
    }


    /* indivisual icons design */
    .fa-desktop{
        background: rgba(255, 0, 0, 0.5);
        color: white;
        padding: 25px;
        border-radius: 50%;
    }
    .fa-desktop:hover{
        background: rgba(255, 0, 0);
       transition: 0.3s all ease-out;

    }



    .fa-code{
        background: rgb(2, 195, 115, 0.5);
        color: white;
        padding: 25px;
        border-radius: 50%;
    }

    .fa-code:hover{
        background: rgb(2, 195, 115);
       transition: 0.3s all ease-out;
    }



    .fa-wordpress{
        background: rgb(0, 0, 204, 0.5);
        color: white;
        padding: 25px;
        border-radius: 50%;
    }

    .fa-wordpress:hover{
        background: rgb(0, 0, 204);
       transition: 0.3s all ease-out;
        
    }

    .fa-address-book{
        background: rgba(255, 68, 0, 0.5);
        color: white;
        padding: 25px;
        border-radius: 50%;
    }

    .fa-address-book:hover{
        background: rgba(255, 68, 0);
        transition: 0.3s all ease-out;
      
    }
    


    /* portfolio Segment design */
    /* --------------------------------------------------------------------------------- */
    .port-images img{
        
        height: 350px;
        width: 350px;
        filter: brightness(50%);
    }

    
    .port-images .port-img{
        position: relative;

    }

    .port-img p{
        position: absolute;
        margin: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: white;
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }

    .port-images img:hover{
        filter: brightness(100%);
    }
