@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.header{
    
    width: 100%;
    height: 60px;
    background: rgba(255, 22, 22, 0.74);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
/* for the logo design */

.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}



/* display the four link in a one row with proper width */
.list{
    font-size: 1.2rem;
    list-style-type: none;
    width: 100%;
    margin: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list-item a{
    text-decoration:none ;
    color: inherit;
}
.list-item a:hover{
    font-weight: 600;
    color: white;
    transition: 0.2s ease-out;
}


/* Home page backgound styling */

.home-container{
    position: relative;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: url(images/home-background.jpg) fixed;
    /* background-size: cover; */
    
  
}
.text{
    position: absolute;
    /* margin: auto; */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: 800;
    color: white;
   
    }
.home-name{
        font-size: 3rem; 
        color: red;
    }
.home-title{
        font-size: 3rem;
    }

    /* About me segment style */
    /* --------------------------------------------------------------------------------------------------------- */
    .about-container{
        text-align: center;
        
    }

    .about-container h1{
        margin-top: 50px;
    }

    .line{
        border: 1px solid black;
        margin: auto;
        width: 150px; 
        text-align: center;       
    }
    .per-image img{
        margin-top: 30px;
        height: 260px;
        width: 250px;
        border-radius: 50%;
        border: 5px solid red;
        cursor: pointer;
        filter: grayscale(100%);
    }
    .per-image img:hover{
        filter: grayscale(0%);
        transition: 0.2s all ease-out;
    }
    .social-media{
        margin-top: 30px;
        color: black;
        cursor: pointer;
        
        
    }
    .social-media a{
        text-decoration: none;
        color: inherit;
        padding-right: 40px;
    }
    .fa-facebook:hover{
        color: blue;
        transition: 0.2s all ease-out;
    }
    .fa-stack-overflow:hover{
        color: orange;
        transition: 0.2s all ease-out;

    }

    .fa-linkedin:hover{
        color: navy;
        transition: 0.2s all ease-out;

    }
    .fa-instagram:hover{
        color: orangered;
        transition: 0.2s all ease-out;

    }
    .fa-github:hover{
        color: darkgray;
        transition: 0.2s all ease-out;

    }

    .details{
        width: 800px;
        font-size: 1.5rem;
        margin: 30px auto;
    }
    #about-btn{
        margin-bottom: 30px;
        padding: 10px 20px;
        background-color: rgba(255, 0, 0, 0.418);
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
    }
    .fa-angle-double-right{
        opacity: 0;
        visibility: hidden;
    }
    #about-btn:hover{
        background-color: red;
        transition: 0.5s all ease-out;
        

    }
    #about-btn:hover .fa-angle-double-right{
        opacity: 1;
        visibility: visible;
        transition: 0.5s all ease-out;
        padding-left: 5px;

    }


    /* Expertise segment design */
    /* ------------------------------------------------------------------------------------------------------ */

    .expertise-container{
        text-align: center;
        margin-top: 60px;
        
    }

    .expertise-container h1{
        font-size: 2.5rem;
    }

    .exp-title{
        font-size: 1.5;
    }
    .exp-items{
        width: 90%;
        height: 300px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    }
    .exp-items i{
        font-size: 4.5rem;
        cursor: pointer;
    
    }
    .exp-items p{
        font-size: 1.5rem;
        font-weight: bold;
    }


    /* indivisual icons design */
    /* ------------------------------------------------------------------------------------------------------ */
    .fa-desktop{
        background: rgba(255, 0, 0, 0.5);
       
        color: white;
        padding: 25px;
        border-radius: 50%;
    }
    .fa-desktop:hover{
        background: rgba(255, 0, 0);
        transform: scale(1.1);
       transition: 0.3s all ease-out;

    }



    .fa-code{
        background: rgb(2, 195, 115, 0.5);
        color: white;
        padding: 25px;
        border-radius: 50%;
    }

    .fa-code:hover{
        background: rgb(2, 195, 115);
        transform: scale(1.1);
        transition: 0.3s all ease-out;
    }



    .fa-wordpress{
        background: rgb(0, 0, 204, 0.5);
        color: white;
        padding: 25px;
        border-radius: 50%;
    }

    .fa-wordpress:hover{
        background: rgb(0, 0, 204);
        transform: scale(1.1);
        transition: 0.3s all ease-out;
        
    }

    .fa-address-book{
        background: rgba(255, 68, 0, 0.5);
        color: white;
        padding: 25px;
        border-radius: 50%;
    }

    .fa-address-book:hover{
        transform: scale(1.1);
        background: rgba(255, 68, 0);
        transition: 0.3s all ease-out;
      
    }
    


    /* portfolio Segment design */
    /* --------------------------------------------------------------------------------- */

.port-container{
    padding-bottom: 60px;
    margin-top: 60px;
}


    .port-title{
        font-size: 2.5rem;
        margin-top: 60px;
        margin-bottom: 60px;
        font-weight: bold;
    }

    .port-images img{
        
        height: 450px;
        width: 750px;
        box-shadow: 0px 0px 10px 0px black;
        border-radius: 15px;
        
    }
    

    
    .port-images{
        /* position: relative; */
        width: 90%;
        margin: auto;
        row-gap: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        

    }
    .port-images img{
        transition: 0.5s ease-out;
    }

    .work-title{
        /* position: absolute; */
        width: 400px;
        border-radius: 10px;
        margin: 5px auto;
        /* left: 50%;
        top: 50%;
        transform: translate(-50%,-50%); */
        background: grey;
        color: white;
        font-size: 1.2rem;
        text-align: center;
        font-weight: bold;
        
    }

    
    /* .port-img img:hover{
        transform: scale(1.1);
        transition: 0.5s ease-out;
        cursor: pointer;
    } */

    /* contact segment style */
    /* ------------------------------------------------------------------- */

    

    .con-title{
        margin-top: 60px;
        font-size: 2.5rem;
        font-weight: bold;
    }

    .con-details{
        margin-top: 80px;
        
       
    }

    .con-name{
        font-size: 1.5rem;
        text-align: left;
        margin-left: 60px;
        margin-top: 60px;
    }
    .freelance{
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }
    .freelance img{
        box-shadow: 0px 0px 15px 0px black;
        border-radius: 10px;
    }

    .direct-contact{
        
        text-align: center;
        width: 80%;
        margin:60px auto;
    }
    .direct-title{
        text-decoration: underline;
       margin-bottom: 40px;
    }

    /* next and prev buttons design for the slider */
    .btns{
        position: absolute;
        display: flex;
        gap: 800px;
    }
    #prevBtn{
        
        font-size: 4.5rem;
        font-weight: bold;
        cursor: pointer;
    }
    #nextBtn{
        font-size: 4.5rem;
        cursor: pointer;
        font-weight: bold;
    }


    /* mobile and tablet responsive for 768 px width screen */
    /* ------------------------------------------------------------------------------------- */

    @media screen and (max-width: 768px){


/* for the header and the navlink design for the mobile responsive */

        .header{
            display: flex;
            justify-content: space-around;
            
            margin: auto;
        }
        .logo{
            font-size: 1.5rem;
            color: white;
        }
        .hamburger-bar{
            cursor: pointer;
        }
        .ham-line{
            border: 2px solid black;
            border-radius: 8px;
            width:25px;
            margin: 8px;
            z-index: 999;
        }
        .hamburger-bar:hover .ham-line{
            border-color: white;
            transition: 0.2s all ease-out;
        }

        .nav-links{
            display:none;
            /* margin-top: 400px;
            width: 100%;
            display:flex;
            flex-direction: column;
            background-color: white;
            z-index: 999;
            cursor: pointer; */
        }
        .list-item::before{
                content: ">>";
        }
        .list-item::after{
            content: "<<";
        }
        .nav-links .list{
            width: 100%;
            margin-left: 5px;
            font-size: 3rem;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            gap: 35px;
            /* background: red; */
            z-index: 1;

        }
        .nav-links.active{
            text-align: center;
            display: block;
            background: red;
            
            position:absolute;
            top: 10.3%;
            
            width: 100%;
            height: 100vh;
            z-index: 1;
            transition: 0.5s all ease-out;
        }


        /* for the home container segment design for the mobile responsive */

        
        .text h1{
            width: 600px;
        }
        .text h2{
            font-size: 1.92rem;
        }

        /* for the About container segment design for the mobile responsive */
        

        .details{
            width:70%;
            text-align: justify;
            word-spacing: 0.5px;
        }


        /* for the Expertise container segment design for the mobile responsive */

        .exp-items{
            margin-top: 60px;
            
            display: grid;
            grid-template-columns: 200px 200px;
            row-gap: 80px;
        }
        #web-dev p{
            width: 400px;
            text-align: left;
            margin-left: -20px;    
        }
        #wp-dev{
            width: 400px;
            text-align: left;
            margin-left: -20px; 
        }
        
        /* for the Portfolio container segment design for the mobile responsive */

        .port-title{
            margin-top: 150px;
        }

        .port-images img{
            width: 600px;
            height: 600px;
            
        }
        .port-img{
            margin: 25px;
        }
        
        /* for the Contact container segment design for the mobile responsive */

        .con-name{
            font-size: 1.2rem;
        }
        .freelance{
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }



                /* mobile and tablet responsive for 425 px width screen */
    /* ------------------------------------------------------------------------------------- */


    @media screen and (max-width: 425px){


       /* adjust font of the home container */
       .home-container{
           background: contain;
       }
       .home-name{
           font-size: 2.5rem;
           color: green;
       }
       .home-title{
           font-size: 2.8rem;
       }


/* font size adjust of the navlink after toggole */
        .nav-links .list{
            font-size: 2.5rem;
        }

/* adjust the size of the social media icon in about segment  */

        .about-container{
            background: darkcyan;
        }

        .social-media{
            margin-left: 25px;
        }
        .details{
            width: 90%;
            text-align: justify;
        }


      /* adjust the size of Expertise segment  */

      .expertise-container{
          background: lightcyan;
      }
      .exp-items p{
          font-size: 1rem;
          
          width: 90%;
          margin-left: 10px;
      }


      /* adjust the size of portfolio segment  */
        
      .portfolio-container{
          background: darkcyan;
      }
      .port-img img{
          width: 300px;
          height: 300px;
      }

      /* adjust the size of contact segment  */

      .contact-container{
          background: black;
          color: white;
      }

        .con-name{
            width: 90%;
            margin: auto;
        }



    }


    }


    

   

    
    
    
